<section class="main" id="home">

    <div class="flex flex-col justify-center items-center w-full h-full">
        <div class="container mx-auto flex justify-center items-center translate-x-20">
            <div class="og text-white absolute ">
                OG
            </div>
            <div class="img z-1 " data-aos="fade-down-left">
                <img src="../../assets/images/main-laptop.png" alt="mainlaptop" width="950px">
            </div>
            <div class="flex flex-col gap-y-10 self-end items-end">

                <h1 class="text-8xl italic font-thin">Dell G7 17</h1>
                <button class="bg-indigo-600 text-white p-5 w-1/2 py-2 rounded-full shadow-md hover:translate-x-2 transition transition-duration-300 hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-black">
                    Get It Now
                </button>
                  
            </div>
        </div>
       
    </div>
</section>


<app-product-list id="products"></app-product-list>
