.main{
    width: 100vw;
    height: 100vb;
}


 .og{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-65%,-45%);
    z-index: -1;
    font-size: 150px;
    font-family: "Monoton", sans-serif;
    font-size: 46rem;
    font-weight: 500;
    color: #ddd;
    opacity: 0.6;
}
/*
.img{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);    
} */